.card__infected {
  border-top: 10px solid rgba(0, 0, 255, 0.5);
}

.card__recovered {
  border-top: 10px solid rgba(0, 255, 0, 0.5);
}

.card__deaths {
  border-top: 10px solid rgba(255, 0, 0, 0.5);
}
